
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  background: linear-gradient(0deg,whitesmoke,rgb(120, 203, 236),whitesmoke) repeat;
  background-size: 1920px 1080px;
  background-repeat: repeat;
}


a{
  text-decoration: none;
  color: inherit;
}

.app{
  width: 80%;
  margin: auto;
}


@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}